name: "Common airport Checkin 2"

on:
  schedule:
    - cron: "10 22 * * *"  # scheduled at 06:10 (UTC+8) everyday
  workflow_dispatch:

env:
  RUN_ENV: 'prod'

jobs:
  build:
    runs-on: ubuntu-latest
    # if: github.ref == 'refs/heads/master'

    steps:
      - name: Checkout master
        uses: actions/checkout@v3
        with:
          fetch-depth: 0
          # ref: master

      - name: Set up python
        uses: actions/setup-python@v3
        with:
          python-version: 3.7

      - name: Random sleep
        if: github.event_name == 'schedule'
        run: sleep $(shuf -i 10-300 -n 1)

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
      - name: Run sign
        env:
          URL: ${{ secrets.URL_G }}
          SCKEY: ${{ secrets.SCKEY }}
          EMAIL: ${{ secrets.EMAIL_G }}
          PASSWD: ${{ secrets.PASSWD_G }}
        run: |
          python3 ./main.py
